In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#settings
pd.set_option('display.max_columns', None)

In [57]:
#First datset
df_accepts = pd.read_csv('chefmozaccepts.csv', low_memory=False)

In [58]:
df_accepts

      placeID             Rpayment
0      135110                 cash
1      135110                 VISA
2      135110  MasterCard-Eurocard
3      135110     American_Express
4      135110     bank_debit_cards
...       ...                  ...
1309   132012          Diners_Club
1310   132002  MasterCard-Eurocard
1311   132002                 Visa
1312   132002     American_Express
1313   132002          Diners_Club

[1314 rows x 2 columns]

In [4]:
df_accepts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   placeID   1314 non-null   int64
 1   Rpayment  1314 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.7+ KB

In [61]:
len(df_accepts["placeID"].unique())

615

In [6]:
df_accepts.isnull().sum()

placeID     0
Rpayment    0
dtype: int64

In [7]:
#second dataset
df_cuesine = pd.read_csv('chefmozcuisine.csv', low_memory=False)

In [8]:
df_cuesine

     placeID        Rcuisine
0     135110         Spanish
1     135109         Italian
2     135107  Latin_American
3     135106         Mexican
4     135105       Fast_Food
..       ...             ...
911   132005         Seafood
912   132004         Seafood
913   132003   International
914   132002         Seafood
915   132001   Dutch-Belgian

[916 rows x 2 columns]

In [9]:
df_cuesine.isnull().sum()

placeID     0
Rcuisine    0
dtype: int64

In [10]:
#third dataset
df_hours = pd.read_csv('chefmozhours4.csv', low_memory=False)

In [11]:
df_hours

      placeID         hours                  days
0      135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1      135111  00:00-23:30;                  Sat;
2      135111  00:00-23:30;                  Sun;
3      135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4      135110  00:00-00:00;                  Sat;
...       ...           ...                   ...
2334   132012  12:00-22:00;                  Sun;
2335   132012  12:00-22:00;  Mon;Tue;Wed;Thu;Fri;
2336   132012  12:00-22:00;  Mon;Tue;Wed;Thu;Fri;
2337   132012  12:00-22:00;                  Sat;
2338   132012  12:00-22:00;                  Sat;

[2339 rows x 3 columns]

In [12]:
df_hours.isnull().sum()

placeID    0
hours      0
days       0
dtype: int64

In [13]:
df_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   placeID  2339 non-null   int64
 1   hours    2339 non-null   object
 2   days     2339 non-null   object
dtypes: int64(1), object(2)
memory usage: 54.9+ KB

In [14]:
#fourth dataset
df_parking = pd.read_csv('chefmozparking.csv', low_memory=False)
df_parking

     placeID parking_lot
0     135111      public
1     135110        none
2     135109        none
3     135108        none
4     135107        none
..       ...         ...
697   132024      street
698   132023         fee
699   132023      public
700   132012      public
701   132012      street

[702 rows x 2 columns]

In [15]:
df_parking.isnull().sum()

placeID        0
parking_lot    0
dtype: int64

In [18]:
#fifth dataset
df_geodata = pd.read_csv('geoplaces2.csv', low_memory=False,encoding='latin-1')
df_geodata

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,zip,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,?,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,78280,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,78000,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,?,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,?,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,?,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,78220,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,?,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,?,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,?,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [19]:
df_geodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   placeID         130 non-null    int64
 1   latitude        130 non-null    float64
 2   longitude       130 non-null    float64
 3   the_geom_meter  130 non-null    object
 4   name            130 non-null    object
 5   address         130 non-null    object
 6   city            130 non-null    object
 7   state           130 non-null    object
 8   country         130 non-null    object
 9   fax             130 non-null    object
 10  zip             130 non-null    object
 11  alcohol         130 non-null    object
 12  smoking_area    130 non-null    object
 13  dress_code      130 non-null    object
 14  accessibility   130 non-null    object
 15  price           130 non-null    object
 16  url             130 non-null    object
 17  Rambience       130 non-null    object
 18  franchise       130 non-null    object
 19  area            130 non-null    object
 20  other_services  130 non-null    object
dtypes: float64(2), int64(1), object(18)
memory usage: 21.5+ KB

In [20]:
df_geodata1 = pd.read_csv('geoplaces.csv', low_memory=False,encoding='latin-1')

In [21]:
df_geodata1

,placeID,latitude,longitude,the_geom_meter,name,city,state,country,alcohol,smoking_area,dress_code,accessibility,price,Rambience,franchise,area
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Cuernavaca,Morelos,Mexico,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,s.l.p.,s.l.p.,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,open
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,San Luis Potosi,San Luis Potosi,Mexico,Wine-Beer,only at bar,informal,partially,medium,familiar,f,open
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,victoria,tamaulipas,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,t,closed
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,victoria,Tamaulipas,Mexico,No_Alcohol_Served,permitted,informal,completely,medium,familiar,t,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,San Luis Potosi,San Luis Potosi,Mexico,No_Alcohol_Served,not permitted,informal,completely,medium,familiar,f,closed
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,San Luis Potosi,SLP,Mexico,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,Cuernavaca,Morelos,Mexico,Wine-Beer,not permitted,informal,no_accessibility,medium,quiet,f,closed
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Jiutepec,Morelos,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,San Luis Potosi,San Luis Potosi,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed

In [22]:
df_geodata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   placeID         130 non-null    int64
 1   latitude        130 non-null    float64
 2   longitude       130 non-null    float64
 3   the_geom_meter  130 non-null    object
 4   name            130 non-null    object
 5   city            130 non-null    object
 6   state           130 non-null    object
 7   country         130 non-null    object
 8   alcohol         130 non-null    object
 9   smoking_area    130 non-null    object
 10  dress_code      130 non-null    object
 11  accessibility   130 non-null    object
 12  price           130 non-null    object
 13  Rambience       130 non-null    object
 14  franchise       130 non-null    object
 15  area            130 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 16.4+ KB

In [24]:
df_geodata1["name"].unique())

129

In [26]:
df_geodata1["city"].unique()

array(['Cuernavaca', 's.l.p.', 'San Luis Potosi', 'victoria ', 'victoria',
       'Cd Victoria', 'san luis potosi', 'Jiutepec', 'cuernavaca', 'slp',
       'Soledad', 'san luis potos', 'san luis potosi ', 'Cd. Victoria',
       'Ciudad Victoria', 's.l.p'], dtype=object)

In [30]:
df_geodata1["city"]=list(map(lambda x: x.strip(),df_geodata1["city"]))

In [31]:
df_geodata1["city"].unique()

array(['Cuernavaca', 's.l.p.', 'San Luis Potosi', 'victoria',
       'Cd Victoria', 'san luis potosi', 'Jiutepec', 'cuernavaca', 'slp',
       'Soledad', 'san luis potos', 'Cd. Victoria', 'Ciudad Victoria',
       's.l.p'], dtype=object)

In [32]:
df_geodata1["city"]=list(map(lambda x: x.lower(),df_geodata1["city"]))

In [34]:
df_geodata1["city"].unique()

array(['cuernavaca', 's.l.p.', 'san luis potosi', 'victoria',
       'cd victoria', 'jiutepec', 'slp', 'soledad', 'san luis potos',
       'cd. victoria', 'ciudad victoria', 's.l.p'], dtype=object)

In [35]:
df_geodata1["city"]=df_geodata1["city"].replace("cd. victoria","cd victoria")

In [37]:
df_geodata1["city"].unique()

array(['cuernavaca', 's.l.p.', 'san luis potosi', 'victoria',
       'cd victoria', 'jiutepec', 'slp', 'soledad', 'san luis potos',
       'ciudad victoria', 's.l.p'], dtype=object)

In [38]:
df_geodata1["city"]=df_geodata1["city"].replace("ciudad victoria","cd victoria")

In [39]:
df_geodata1["city"].unique()

array(['cuernavaca', 's.l.p.', 'san luis potosi', 'victoria',
       'cd victoria', 'jiutepec', 'slp', 'soledad', 'san luis potos',
       's.l.p'], dtype=object)

In [40]:
df_geodata1["city"]=df_geodata1["city"].replace("san luis potos","san luis potosi")

In [41]:
df_geodata1["city"].unique()

array(['cuernavaca', 's.l.p.', 'san luis potosi', 'victoria',
       'cd victoria', 'jiutepec', 'slp', 'soledad', 's.l.p'], dtype=object)

In [42]:
df_geodata1["city"]=df_geodata1["city"].replace("cd victoria","victoria")

In [43]:
df_geodata1["city"].unique()

array(['cuernavaca', 's.l.p.', 'san luis potosi', 'victoria', 'jiutepec',
       'slp', 'soledad', 's.l.p'], dtype=object)

In [44]:
df_geodata1["city"]=df_geodata1["city"].replace("s.l.p.","slp")

In [45]:
df_geodata1["city"].unique()

array(['cuernavaca', 'slp', 'san luis potosi', 'victoria', 'jiutepec',
       'soledad', 's.l.p'], dtype=object)

In [46]:
df_geodata1["city"]=df_geodata1["city"].replace("s.l.p","slp")

In [47]:
df_geodata1["city"].unique()

array(['cuernavaca', 'slp', 'san luis potosi', 'victoria', 'jiutepec',
       'soledad'], dtype=object)

In [48]:
df_geodata1["state"]=list(map(lambda x: x.lower(),df_geodata1["state"]))

In [49]:
df_geodata1["state"].unique()

array(['morelos', 's.l.p.', 'san luis potosi', 'tamaulipas', 'slp',
       'mexico', '?', 'san luis potos'], dtype=object)

In [50]:
df_geodata1["state"]=df_geodata1["state"].replace("s.l.p.","slp")

In [51]:
df_geodata1["state"].unique()

array(['morelos', 'slp', 'san luis potosi', 'tamaulipas', 'mexico', '?',
       'san luis potos'], dtype=object)

In [52]:
df_geodata1["state"]=df_geodata1["state"].replace("san luis potos","san luis potosi")

In [53]:
df_geodata1["state"].unique()

array(['morelos', 'slp', 'san luis potosi', 'tamaulipas', 'mexico', '?'],
      dtype=object)

In [54]:
df_geodata1

,placeID,latitude,longitude,the_geom_meter,name,city,state,country,alcohol,smoking_area,dress_code,accessibility,price,Rambience,franchise,area
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,cuernavaca,morelos,Mexico,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,slp,slp,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,open
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,san luis potosi,san luis potosi,Mexico,Wine-Beer,only at bar,informal,partially,medium,familiar,f,open
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,victoria,tamaulipas,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,t,closed
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,victoria,tamaulipas,Mexico,No_Alcohol_Served,permitted,informal,completely,medium,familiar,t,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,san luis potosi,san luis potosi,Mexico,No_Alcohol_Served,not permitted,informal,completely,medium,familiar,f,closed
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,san luis potosi,slp,Mexico,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,f,closed
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,cuernavaca,morelos,Mexico,Wine-Beer,not permitted,informal,no_accessibility,medium,quiet,f,closed
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,jiutepec,morelos,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,san luis potosi,san luis potosi,Mexico,No_Alcohol_Served,none,informal,completely,low,familiar,f,closed

In [55]:
df_geodata1.to_csv('geod.csv', index=False)

In [ ]:
df_geodata1[]